[phases.setup]
nixPkgs = ["nodejs_20", "python311"]

[phases.install]
cmds = ["npm ci", "python -m pip install -r requirements.txt"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"
